.navbar{
  border-bottom: #ec2229 1px solid;
}

.navbar .navbar-brand{
  color: #ec2229;
  font-size: 24px;
}

.bg-dark{
  background-color: #ec2229;
}

.nav-link{
  color: white !important;
  text-transform: uppercase;
  transition: color .5s ease;
}

.nav-link:hover{
  color:  #ec2229 !important;
}

#header-section{
  background: url('../img/house-1150330_960_720.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

#header-section .overlay{
  background-color: rgba(0,0,0, .7);
}

#header-section .row{
  height: 100vh;
}


#header-section span{
  color:  #ec2229 !important;
}

.btn-outline-danger{
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 0px;
  cursor: pointer;
}

/* Referanlar Section */ 
#ortak .card{
  border: none;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.5s ease;
  margin: 30px;
}

#ortak .card:hover{
  opacity: 1;
}

#ortak h1{
  margin: 30px;
}

/* Contact section */

#contact{
  background-color: #f4f5f9;
}

#contact .input-group-addon{
  
  width: 50px;
  border-radius: 0;
  color:white;
  background-color:#ec2229; 
}

/* Footer Section */

#footer{
  color: #fff;
  background-color: #000;
}
